<div id="question_page">
	
	<h1>Question <%=@question.id%Question.first.id + 1 %></h1>

	<p><%= @question.query %></p>


		<% @options.each do |option| %>
			<a href = "/options/<%=option.id%>/show">
				<button type="button" class="btn btn-white btn-block">
					<%=option.choice%>
				</button>				
			</a>
		
			<br><br>
		<% end %>


</div>