<div id="question_page">
	
	<h1>Question <%=@question.id%Question.first.id + 1 %></h1>

	<p><%= @question.query %></p>


		<% @options.each do |option| %>
			<div class="button-choice">
				<a href = "http://localhost:3000/options/<%=option.id%>/show">
					<button type="button" class="btn btn-white btn-block">
						<%=option.choice%>
					</button>
				</a>
			</div>
			<br><br>
		<% end %>


</div>