<h1>Question <%=@question.id%Question.first.id + 1 %></h1>

<p><%= @question.query %></p>

<form =":id/explanation" method="GET">
	<% @options.each do |option| %>

		<button type="button"  class="btn btn-default">
		<%= link_to(option.choice, "questions/:id/explanation") %>
		</button>
		<br><br>

	<% end %>

</form>

