<h1>Question <%=@question.id%></h1>

<p><%= @question.query %></p>

<form>
	<% @options.each do |option| %>
		<input type="radio" name="choice" value=<%option.choice%>><%=option.choice%>
		<br>
	<% end %>
</form>