<h1>Question <%=@question.id%Question.first.id + 1 %></h1>

<p><%= @question.query %></p>

<form>
	<% @options.each do |option| %>
		<input type="radio" name=<%"#{option.is_correct?}"%> value=<%option.choice%>><%=option.choice%>
		<br>
	<% end %>
</form>

<form action=":id/explanation">
    <input type="submit" value="Submit">
</form>