<div class="static-page">
<div class="about-us"
<br>
<h1><big><dt>About Us</dt></big></h1>
<h2>We're a team of American college students who came to Africa to learn Ruby on Rails and learn about social issues in South Africa. We realized that one of the major issues South Africa faces is its history. History is convoluted, and too many know little or nothing about it. And so began TriviaFundi, an endeavor to teach history to the citizens of South Africa.</h2>
<br></br>
<blockquote class="blockquote-reverse"><h2><em>That men do not learn very much from the lessons of history is the most important of all the lessons of history. --Aldous Huxley</em></h2></blockquote>
</div>
</div>