<div class="static-page">
<h1>About Us</h1>
<h2>We're a team of American college students who came to Africa to learn Ruby on Rails and learn about social issues in South Africa.</h2>
<h3>We realized that one of the major issues South Africa faces is its history</h3>
<h4>History is convoluted, and too many know little or nothing about it.</h4>
<h5>And so began TriviaFundi, an endeavor to teach history to the citizens of South Africa</h5>
<br></br><br></br>
<h1>That men do not learn very much from the lessons of history is the most important of all the lessons of history. -Aldous Huxley </h1>
</div>