<div class="static-page"
<br>
<h1><big><dt>How to Play</dt></big></h1>
<h2>This is a simple quiz game! <br> We want YOU to learn South African history. <br>For every question you answer correctly, you earn one point.<br>Each quiz has ten questions, for a maximum of ten points.<br>Coming Soon: Track your progress by creating User Profiles!</h2>
</div>