<div class="static-page">
<h1>How to Use this Site</h1>
<h3>This is a simple quiz game</h3>
<h4>We want YOU to learn South African history.</h4>
<h6>For every question you answer correctly, you earn one point.</h6>
</div>