<div><h1>Game Over</h1>

<p>Your Score is: <%= @game.score%></p>
<a href="/games">
<button type="button" class="btn btn-lg">
Home
</button>
</a>

<h3>Or, play another game:</h3>
<div>
<% @games.each do |game| %>
		<a href="/games/<%=game.id%>/reset_score">
	<button type="button" class="btn btn-lg">
		<strong><%=game.title%></strong>
	</button>
	</a>
	<br></br>
	<% end %>
</div>
</div>