<div><h1>Game Over</h1>

<p>Your Score is: <%= @game.score%></p>
<button type="button" class="btn btn-default">
<%= link_to('Home', "/games") %>
</button>

<h3>Or, play another game:</h3>
<div>
<% @games.each do |game| %>
		<a href="/games/<%=game.id%>/reset_score">
	<button type="button" class="btn btn-default">
		<strong><%=game.title%></strong>
	</button>
	</a>
	<br></br>
	<% end %>
</div>
</div>