<h1>Welcome FundiLearns</h1>

<ol>
<% @games.each do |game| %>
	<li>
		<%= link_to(game.title, "/questions/#{game.id*10+1-10}") %>
	</li>
	<% end %>
</ol>

<!-- lecture codes for bootstrap by Rafi -->
<!-- <div class="container">
<h1>Hey quiz</h1>	
	<div class="row"></div>
		<div class="col-sm-4"> 
			4 COLUMNS 
			<button href="/" class="btn btn-info">This is a button</a>
		</div>
		<div class="col-sm-8"> 
			8 COLUMNS
			<form action="" class="form-inline">
				<div class="form-group">
					<label for=""> My name</label>
					<input type="text" class="form-control">
				</div>
			</form>
		</div>
	</div>
</div> -->
