<div class="jumbotron">
    <h1><b>Are you a TriviaFundi?</b></h1>
    <h2><b>Come and learn more about South Africa history!</b></h2>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

<!-- <div class= "home_button">
    <% @games.each_with_index do |game,index| %>
        <a href="/questions/<%=Question.first.id+(index*10)%>">
            <button type="button" class="btn-lg btn-default">
                <%=game.title%>
            </button>
        </a>

        <br></br>
        <% end %>
</div>
 -->


<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
        <div class="box">
          <div class="overlay">
            <span class="question_type"><a href="/questions/21">History</a></span>
          </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="box">
          <div class="overlay">
            <span class="question_type"><a href="/questions/11">Apartheid</a></span>
          </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="box">
          <div class="overlay">
            <span class="question_type"><a href="/questions/1">Pop Culture</a></span>
          </div>
        </div>
    </div>
  </div>
</div>