<h1>Welcome to FundiLearns!</h1>


<% @games.each_with_index do |game,index| %>
	<button type="button" class="btn btn-default">
		<%= link_to(game.title, "/questions/#{Question.first.id+(index*10)}") %>
	</button>
	<br></br>
	<% end %>