@import "bootstrap-sprockets";
@import "bootstrap";
@import "style";
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@font-face {
    font-family: "Infinity";
    src: url(font-path('Infinity.ttf')) format("truetype");
    font-weight: normal;
    font-style: normal;
}