body { 
	width: 100%;
	background-color: #FFFFFF;
	position: center;
	font-family: 'Infinity', sans-serif;
	font-family: 'Infinity';
}

div {
	text-align: center;
}

footer {
	clear: both;
    position: relative;
    height: 3em;
	text-align: center; 
    margin-top: 3em;
	font-family: 'Infinity';
}

.static-page{
	position: center;
	background-color: #CCC7B9;
	border-radius: 15%;
	width: 90%;
	margin: auto;
}

.jumbotron {
	height: 380px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: image-url("table-mountain.jpg");
	margin-bottom: 100px;
	color: white;
}

.container {
	width: 100%;
	border-radius: 50%;
	padding: 10px;
	position: right;
}

.btn-lg{
	background-color: #D6F6DD;
}

.nav {
	border: none;
	background-color: #FFFFFF;
	font-size: 8;
}

.box-pop:hover .overlay {
  opacity: .8;
}

.box-apartheid:hover .overlay {
  opacity: .8;
}

.box-history:hover .overlay {
  opacity: .8;
}

.question_type {
  text-align: center;
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 30px;
}
