.button-choice{
	display:block;
}

body { 
	width: 100%;
	background-color: #C6BCC8;
}
div {
	text-align: center;
	margin-bottom: 0px;
	height: 70%;
	padding: 25px;
}
button {
	background-color: #FFFFFF;
	color: #595358;
	width: 50%
}
footer {
	text-align: center; 
	clear: both;
    position: relative;
    height: 3em;
    margin-top: 3em;
}
