table {
	table-layout:fixed;
	overflow: hidden; 
}

table td {
	border-color: 2px white;
}

p {
	font-size: 20px;
}
.option-button{
	display:block;
	height:200px; 
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}

.box-pop {
  width: 465px;
  height: 330px;
  background: url("table-mountain.jpg");
  background-size: cover;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
}

.box-apartheid {
  width: 465px;
  height: 330px;
  background: url("apartheid1.png");
  background-size: cover;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
}

.box-history {
  width: 465px;
  height: 330px;
  background: url("history.png");
  background-size: cover;
  border-radius: 80px;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.75);
  width: 465px;
  height: 330px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
   border-radius: 80px;
   padding: 130px 0 0px 0;
}

.btn{
	border-radius: 20px;
	font-size: 30px; 
	color: white;
	background-color: #D6F6DD
}

