body { 
	width: 100%;
	background-color: #C6BCC8;
}
div {
	text-align: center;
	margin-bottom: 0px;
	height: 70%;
	padding: 25px;
}
button {
	background-color: #FFFFFF;
	color: #595358;
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
	text-align: center; 

}