<ul class="nav nav-tabs navbar-fixed-top">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/static_pages/about">About Us</a></li>
  <li role="presentation"><a href="/static_pages/contact">Contact Us</a></li>
  <li role="presentation"><a href="/static_pages/play">How to Play</a></li>
</ul>