<ul class="nav nav-tabs">
  <li role="presentation"><a href="/">Home</a></li>
  <li role="presentation"><a href="/static_pages/about">About Us</a></li>
  <li role="presentation"><a href="/static_pages/contact">Contact Us</a></li>
  <li role="presentation"><a href="/static_pages/play">How to Play</a></li>
</ul>