<!DOCTYPE html>
<html>
<header>
	<div class="btn-group" role="group" aria-label="...">
    <a href="/static_pages/about">
      <button type="button" class="btn btn-default">
        About Us
      </button>
    </a>

    <a href="/static_pages/contact">
      <button type="button" class="btn btn-default">
        Contact Us
      </button>
    </a>

    <a href="/static_pages/play">
      <button type="button" class="btn btn-default">
      	How to Play
      </button>
    </a>
  </div>

</header>
<head>
  <title>FundiLearns</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> 
</head>
<body>

  <%= yield %>



</body>
<footer> © 2015 FundiLearns</br>Made by Andrew Hoiberg, Vicky Zheng & Sabrina Li</footer>
</html>
